@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

/*                  STYLING                 */

body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background-attachment:fixed;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 100%;
    text-align: center;
}

.wrapper {
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 10px;
    background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

h2 {
    color: #38495a;
    margin-bottom: 0;
    padding-bottom: 0;
    margin:0;
    padding:0;
  
}



/*                  GALAXY                 */

.galaxy-wrapper {
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

canvas { 
    pointer-events:none; 
}

#galaxy {
    position: fixed;
}

/*                  SECTION                 */

.section {
    height: 100%;
    overflow:hidden;
    padding-bottom: 100px;
}

.left {
    float: left;
}

.right {
    float: left;
    text-align: left;
}

#aboutme{
    width: 100%;
}


/*                  BUTTONS                 */

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #38495a;
    border-radius: 20px;
      padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #38495a;
    color: white;
}


#hire {
    width: 200px;
}

.pdf {
    width: 200px;
}

button {
    background-color: white; 
    color: black; 
    border: 2px solid #38495a;
    border-radius: 20px;
      padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #38495a;
    color: white;
}


* {
    box-sizing: border-box;
}







#spaceheadshot {
    width: 30vw;
}